[submodule ".deps/SageLang"]
	path = .deps/SageLang
	url = https://github.com/Night-Traders-Dev/SageLang.git
	shallow = true
	fetchRecurseSubmodules = false
	update = none
[submodule "docs/site"]
	path = docs/site
	url = https://github.com/Night-Traders-Dev/SageVM-Docs
