# Binaries
sgvm
sgvmc

# Temporary files
.tmp.svm
*.sgvm

# Build artifacts
*.o
*.obj
*.bin
*.elf
*.efi
*.svm

# Test artifacts
t*.sage
test_*.c
test_*.h
test_*.o
test_*.sgvm
test_*.svm
test_*.sage
trace.log
gdb.log
gdb_print.log
compile_trace.log
scratch_test
scratch_test.sage
output.txt
test_int

# Benchmark results (Keep for README)
!testsuite/benchmarks/results/
!testsuite/benchmarks/results/*.png
!testsuite/benchmarks/results/*.json
